<div class="row">
    <div class="col-md-8">
       <h3>Posts List ({{count$ | async}})</h3> 
        <div>
            <a href="#" class="btn btn-primary" [routerLink]="['/posts/add']">Add List</a>
        </div>
       <table class="table table-striped" *ngIf="(posts$ |async) as postsData">
           <thead>
               <tr>
                   <th>Id</th>
                   <th>Title</th>
                   <th>Discription</th>
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let post of postsData">
                   <td>{{post.id}}</td>
                   <td style="word-break: break-all">{{post.title}}</td>
                   <td style="word-break: break-all">{{post.description}}</td>
                   <td>
                       <a class="btn btn-primary" [routerLink]="['edit',post.id]">Update</a>&nbsp;
                       <a class="btn btn-info" [routerLink]="['detail/',post.id]">Detail</a>&nbsp;
                       <a class="btn btn-danger" (click)="delete(post.id)">Delete</a>
                   </td>
               </tr>
           </tbody>
       </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>
